
.jumbotron {
	background-position: center;	
	background: url('https://images.pexels.com/photos/626155/pexels-photo-626155.jpeg');	
	height: 100vh;
	overflow: hidden;	
	width: 100%;
	background-size: cover;
}