.jumbotron {
	background-position: center;	
	background: url('https://images.pexels.com/photos/626155/pexels-photo-626155.jpeg');	
	height: 100vh;
	overflow: hidden;	
	width: 100%;
	background-size: cover;
}

.tekst, h1 {
	padding-top: 200px;
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

h1 {
	font-size: 46px;
	color: white;
	text-shadow: 0 0 7px #000000;
}

p {
	font-weight: bold;
	color: white;
	padding: 50px;
	text-shadow: 0 0 7px #000000;
	font-size: 28px;
}